<%- include(`includes/header`) %>

<body>
    <div style="font-size: large;">
        <div>PRODUCTS PAGE</div>
        <div><%=member.memberNick%></div>
    </div>
</body>

<%- include(`includes/footer`) %>